<footer>
	<div class="container">
		<div class="row-fluid">
			
			<div class="span3 pvn">
				<h3>Footer column 1</h3>
				<p>Some customized text here. I don't know, maybe something like about this page or about me.</p>
			</div>

			<div class="span3 pvn">
				<h3>Footer column 2</h3>
				<p>Some customized text here. I don't know, maybe something like about this page or about me.</p>
			</div>

			<div class="span3 pvn">
				<h3>Footer column 3</h3>
				<p>Some customized text here. I don't know, maybe something like about this page or about me.</p>
			</div>

			<div class="span3 pvn">
				<h3>Footer column 4</h3>
				<p>Some customized text here. I don't know, maybe something like about this page or about me.</p>
			</div>

		</div>
	</div>
	<p class="footer-link">
		&copy; {{ "now"|date("Y") }} - {{ blog_title }} - 
		Powered by <a href="http://symfony.com" target="_blank">Symfony2</a>
	</p>
</footer>