{% extends '::base.html.twig' %}

{% block title %}Blog - Admin{% endblock %}

{% block stylesheets %}
	{% stylesheets 
		'bundles/hasheadoblog/bootstrap/css/bootstrap-responsive.css'
		'bundles/hasheadoblog/bootstrap/css/bootstrap-classic.css'
		'bundles/hasheadoblog/bootstrap/css/charisma-app.css'
		'bundles/hasheadoblog/css/main.css' filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
	
	<!-- Header (Topbar) -->
	{% include 'HasheadoBlogBundle:Admin/Default:_header.html.twig' %}

	<div class="container-fluid">
		<div class="row-fluid">

			<!-- sidebar menu -->
			{% include 'HasheadoBlogBundle:Admin/Default:_aside_menu.html.twig' %}
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

			<!-- content starts -->
			<div id="content" class="span10">

				<div>
					<ul class="breadcrumb">
						<li><a href="#">Home</a> <span class="divider">/</span></li>
						<li><a href="#">Tables</a></li>
					</ul>
				</div>

				{% include 'HasheadoBlogBundle:Admin/Default:_flash_messages.html.twig' %}

				{% block content %}{% endblock %}

			</div>

		</div>
	</div> <!-- END container-fluid -->

	<hr/>

	<footer>
		<p class="text-center">&copy; 2013 - {{ blog_title }}</p>
	</footer>

{% endblock %}

{% block javascripts %}{% endblock javascripts %}