{% extends '::base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block stylesheets %}
	{% stylesheets 
		'bundles/hasheadoblog/bootstrap/css/bootstrap-responsive.css'
		'bundles/hasheadoblog/bootstrap/css/bootstrap-classic.css'
		'bundles/hasheadoblog/syntaxhighlighter/css/shCore.css'
		'bundles/hasheadoblog/syntaxhighlighter/css/shCoreDefault.css'
		'bundles/hasheadoblog/syntaxhighlighter/css/shThemeRDark.css'
		'bundles/hasheadoblog/css/main.css'
		'bundles/hasheadoblog/css/spaces.css' filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />

	{% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
	
	<!-- Header nav -->
	{% include 'HasheadoBlogBundle::_header_nav.html.twig' %}

	<div class="container" id="container">

		<div class="row fluide">

			<!-- Main content -->
			<div class="span8 clearfix">
				{% block content %}{% endblock %}
			</div>

			<!-- Sidebar -->
			<aside class="span4 rightbar">
				{% include 'HasheadoBlogBundle::_sidebar.html.twig' %}
			</aside>
			
		</div>

	</div> <!-- END main container -->

	<!-- Footer -->
	{% include 'HasheadoBlogBundle::_footer.html.twig' %}	

{% endblock %}

{% block javascripts %}
	{% javascripts 'bundles/hasheadoblog/bootstrap/js/bootstrap.min.js'
				   'bundles/hasheadoblog/bootstrap/js/bootstrap-modal.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shCore.js'
				   'bundles/hasheadoblog/syntaxhighlighter/js/shBrushJScript.js'
				   'bundles/hasheadoblog/js/hasheado-blog.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>

	{% endjavascripts %}
{% endblock javascripts %}
