/**
 * main.css CSS file for admin @HasheadoBlogBundle
 * @author Emiliano Viada
 */

.text-center {
	text-align: center !important;
}
.pagination span {
	padding-right: 20px;
	position: relative;
	top: -12px;
}
.top-50 {
	position: relative;
	top: -50px;
}
.error .controls ul {
	display: inline-block;
	list-style-type: none;
	margin-left: 5px;
	color: #b94a48;
}
/* Overide Bootstrap CSS */
.navbar-inner {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.brand {
	font-family: inherit !important;
	width: 260px;
}
.input-prepend .add-on {
	margin-right: -5px;
}
.input-prepend input.mih {
	min-height: 28px;
}
.input-prepend label.remember input {
	margin-top: -2px;
}
/* END Overide Bootstrap CSS */