{% for key, flash in app.session.flashbag.all() %}
	<div class="alert alert-{{ key }}">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>{{ key|capitalize }}</strong>: {{ flash[0] }}
	</div>
{% endfor %}