<div id="modal-delete-confirmation" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close">&times;</a>
        <h3>Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn danger">Yes</a>
        <a href="javascript:void(0)" class="btn secondary">No</a>
    </div>
</div>